<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>签到</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/enter.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/jquery.validator.css">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery.particleground.min.js"></script>
    <script type="text/javascript" src="/static/js/member.js"></script>
    <script src="/static/js/luckman.js"></script>
</head>
<body>
<div id="particles">
    <canvas class="pg-canvas" width="1920" height="911" style="display: block;"></canvas>
    <div class="intro">
        <div class="container">
            <p style="margin-top: 200px">签到系统</p>
            <div class="row">
                <div class="col-md-3 col-sm-8 col-centered">
                    <form id="register-form" autocomplete="off" action="" class="nice-validator n-default" novalidate>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="姓名" aria-required="true" maxlength="11">
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="gender" name="gender">
                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="tel" name="tel" placeholder="电话" aria-required="true" maxlength="11">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" name="email" placeholder="邮箱" aria-required="true">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="school" name="school" placeholder="学校" aria-required="true">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="major" name="major" placeholder="专业" aria-required="true">
                        </div>
                        <div class="form-group">
                            <label>毕业时间</label>
                            <input type="date" class="form-control" id="graduation" name="graduation" placeholder="毕业时间" aria-required="true">
                        </div>
                        <div id="validator-tips" class="validator-tips"></div>
                        <div id="validator-sub" class="validator-tips"></div>
                        <button onclick="return false;" id="submit_button"  name="login" class="btn btn-primary btn-current">签   &nbsp  &nbsp  &nbsp 入</button>
                    </form>
                </div>
            </div>
            <div ><hr style="border:1px dotted #036"/>
                <p size="2" color ="#ffffff">华西IT部成都组提供|edited by choleece</p>
            </div>
        </div>
        <script src="/static/js/jquery.validator.min.js"></script>
        <script src="/static/js/zh-CN.js"></script>
    </div>
</div>
<script>
    $(document).ready(function () {
        var intro = $('.intro');
        $('#particles').particleground({
            dotColor: 'rgba(52, 152, 219, 0.36)',
            lineColor: 'rgba(52, 152, 219, 0.86)',
            density: 130000,
            proximity: 500,
            lineWidth: 0.2
        });
        intro.css({
            'margin-top': -(intro.height() / 2 + 100)
        });
    });
</script>

<div style="text-align:center;">

</div>
</body>
</html>